@import "templates/template.scss";
@import "templates/header.scss";
@import "templates/_products.scss";
@import "templates/_navbar.scss";
@import "templates/_footer.scss";



.fa-user-plus{ 
    color:white; 
    
    }

header{
    margin-top: 3em;
}

.form-control{
    margin: 10px;
}